.vscode
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
AcWing/*.exe
AtCoder/*.exe
bmhOJ/*.exe
BOOJ/*.exe
CodeForces/*.exe
Competition/*.exe
Competition/*/*.exe
Competition/*/*/*.exe
Competition/*/*/*/*.exe
Competition/*/*/*/*/*.exe
leetcode/*.exe
LibreOJ/*.exe
Luogu/*.exe
Models/*.exe
nowcode/*.exe
POJ/*.exe
ZROI/*.exe
ZROI/*/*.exe
Review_Fir/*.exe
.cph
*/.cph